{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}
<section class='signup_container'>
<form method="post" action="{% url 'login' %}" class="login__form">
    <div class='login_div'>
    {% csrf_token %}
        <table class='login_table'>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input type="submit" value="Zaloguj się" class='button'>
    
        <!-- # to jest tez ukryte pole next , w obsludze formularza django sobie to odczyta i po poprawnym zalogowaniu,
        # jak ktos poda sobie w adresie ?next=restaurant/1 to wtedy uzytkownik zostanie przekierowany pod ten adres -->
        <!-- jak nie jest zalogowany i wpisuje adres jakiejs strony, to django przekieruje go do strony login 
        i jako next poda sobie automatycznie strone, do ktorej uzytkownik chcial przejsc -->
        
        <input class="button" type="hidden" name="next" value="{{ next }}"> 
    </div>
</form>
<a  href="{% url 'restaurants:signup'%}" > <button class="button"> Załóż konto</button></a>

{# Assumes you setup the password_reset view in your URLconf #}
{#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
</section>
{% endblock %}