*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
.hamburger{
    width: 38px;
    height: 25px;
    border: 0;
    border-top: 4px solid black;
    background: transparent;
    position: relative;
    outline: grey;
    z-index: 7;
    position: fixed;
    top: 20px;
    right: 20px;
}
.hamburger::before, .hamburger::after{
    content: ''; /* musimy im ustawic content poczatkowy zeby w ogole sie pokazaly*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 4px solid black;
    transform: translateY(5px);
}
.hamburger::after{
    transform: translateY(15px);
}
.hamburger.active{
    transform: rotate(45deg);
    border: none;
    top: 91px;
}
.hamburger.active::after{
    transform: rotate(-90deg) translateX(-6px);
}
nav.nav_main{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: -70px;
    left:0;
    border: 1px solid black;
    z-index: 4;
    background-color: #ffffff;
    opacity: 0.6;
}
nav.nav_main.active{
    top: 0px;
    height: 100px;
}
nav a, nav p, nav span {
    font-size: 1.2rem;
    width: 100%;
    background: none;
    background-color: transparent;
    color: black;
    letter-spacing: 2px;
    text-align: center;
}
.cart{
    color: black;
    font-size: 1.2rem;
    letter-spacing: 2px;
    flex-basis: 20%;
}

nav a{
    text-decoration: none;
    flex-basis: 20%;
}
nav p{
    text-decoration: none;
    flex-basis: 20%;
}

.main{
    width: 100%;
    min-height: 100vh;
    background-image: url('./images/main.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
.login__form{
    width: 10rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 2rem;
}
.login__form td, input{
    padding: 5px;
}
.login__form label{
    color: black;
}
.login_button{
    padding: 5px 20px;
    color: black;
    background-color: white;
    margin-top: 1rem;
    letter-spacing: 2px;
}

.main__main__page{
    width: 100%;
    height: 90vh;
    background-color: #947163;
    background-image: url('./images/main.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
form{ 
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.inputs{
    width: 100%;
    margin-bottom: 5vh;
}
.inputs input{
    padding: 2%;
    text-align: center;
    font-weight: 400;
    letter-spacing: 5px;
    width: 100%;
    background-color: white;
    color: #443835;
    opacity: 0.7;
    font-size: 1.6rem;
    border-radius: 5px;
    border: none;
}
#seach__button{
    position: absolute;
    right: -6rem;
    bottom: 1.3rem;
    background-color: transparent;
    border: none;
    display: table-cell;
    vertical-align: middle;
   
}
.fa-search{
    font-size: 4rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: white;
    opacity: 0.7;
    background-color: transparent;
}

.main__main__page h3, h4{
    color: white;
}

/* <------------------all-------------------> */
.link{
    text-decoration: none;
}
.items{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.items_section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.items_slider{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 90vw;
    height: 75vh;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
    flex-basis:70%;
    margin-top: 25px;
}
.pagination{
    width: 100%;
    color: rgb(7, 71, 7);
    font-size: .8rem;
    flex-basis: 20%;
}
.items__group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-basis: 100%;
}
.items_slider h3{
    flex-basis: 20%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    margin-top: 1rem;
    font-size: 1rem;
    color: rgb(7, 71, 7);
}
.item{
    flex-basis:20%;
    /* border: 1px solid #857256; */
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    height: 60vh;
    width: 40vh;
    min-width: 40vh;
    margin: 0 2%;
    color: black;
}
.logo{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}
.logo img{
    width: 70%;
    height: auto;
}
.desc{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo img{
 height: 20vhw;
 width: 20vhw;
}
div.name{
    text-align: center;
    font-size: 0.8rem;
    flex-basis: 10%;
    font-weight: 600;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #453835;
}
p.half{
    font-size: .6rem;
    color: green;
    flex-basis: 30%;
}
div.name p{
    text-align: center;
}
.name h4{
    margin-bottom: 0.5rem;
}
.name h4 a{
   width: 100%;
}
.desc a{
    text-decoration: none;
    color: black;
}
.name, .other__details{
    flex-basis: 50%;
    justify-content: flex-end;
}
p.p_name{
    font-size: .7rem;
    font-weight: 500;
    letter-spacing: 0;
}
.other__details{
    display: flex;
    justify-content: space-around;
}
.other__details p, .other__details span{
    flex-basis: 47%;
    text-align: center;
    display: flex;
    align-items: center;
}
.other__details span{
    font-size: 0.7rem;
}
.opening_hours{
    font-size: 0.8rem;
}
.step-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.step-links a, span{
    text-decoration: none;
    color: black;
    padding: 4px;
    letter-spacing: 2px;
}



/* <---------------details-----------------> */

.details_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#map {
    height: 60%;
    width: 40%;
  }
.modal {
    width: 90vw;
    min-height: 80vh;
    margin-top: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    padding: 20px;
}

.modal_courses h3{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(7, 71, 7);
    font-size: 1.2rem;
    margin: 1rem;
}

.modal_courses{
    flex-basis: 40%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    color: #443835;
    margin-top: 2rem;
}
.modal_courses a{
    text-decoration: none;
}
.modal_location{
    flex-basis: 40%;
    margin-top: 5vh;
    height: 55vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.modal_location h5{
    color: rgb(7, 71, 7);
    padding-bottom: 1rem;
    font-size: 0.8rem;
}
li.success{
    position: absolute;
    top: 400px;
    padding: 10px 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    opacity: 0.6;
    z-index: 100;
}

.course{
    border: 1px solid #453835;
    background-color: rgb(238, 237, 237);
    width: 60vw;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 10px 0 10px 30px;
    margin: 0.6rem 0;
    position: relative;
}
.course p{
    margin: 5px;
    color: #453835;
    font-size: 0.7rem;
}
p.course_name{
    font-weight: 700;
    color: rgb(7, 71, 7);
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.yes_no{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.yes_no p{
    flex-basis: 5%;
    color: black;
    font-size: 0.6rem;
}
.add{
    text-decoration: none;
    color: rgb(7, 71, 7);
    font-weight: 400;
    text-transform: uppercase;
    justify-self: flex-end;
    flex-basis: 20%;
    text-align: end;
    margin-right: 0.8rem;
    font-size: 0.8rem;
}
.course p.price{
    font-size: 1.3rem;
    color: rgb(7, 71, 7);
    position: absolute;
    right: 10px;
    letter-spacing: 1px;
}
.cart_container{
    background-color: white;
    width: 80vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart_container h3, a{
    letter-spacing: 2px;
    width: 100%;
    flex-basis: 10%;
    text-align: center;
    color: rgb(7, 71, 7);
    margin: 5px 0;
}
.cart_container>table.cart_table{
    letter-spacing: 1px;
    width: 90%;
    flex-basis: 80%;
    text-align: center;
    border: 1px solid rgb(7, 71, 7);
    border-collapse: collapse;
    margin: 2rem;
}
.cart_container>table.cart_table th{
    color: rgb(7, 71, 7);
}
.cart_container> table.cart_table th, td{
    padding: 3px 0;
}
.login_table{
    border: none;
}
.continue{
    text-decoration: none;
}
.form_line{
    width: 100%;
}
li.success{
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index:-2;
}
.form_create_order{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 30vh;
}